<div *ngIf="contact && !savingContact">
  <mat-card>
    <div>
      <h4>Add New Contact</h4>
      <mat-form-field>
        <input mdInput type="text" id="contact-name"
            placeholder="Name" align="end" [(ngModel)]="contact.name" required matNativeControl />
      </mat-form-field>
      <br />
      <div *ngIf="contact.name">
        <mat-form-field>
          <input mdInput type="email" css="contact-email" id="contact-email"
              placeholder="Email" align="end" [(ngModel)]="contact.email" matNativeControl />
        </mat-form-field>
        <br />
        <mat-form-field>
          <input mdInput id="tel" type="tel" id="contact-tel"
              placeholder="Phone Number (10 digits)" align="end" [(ngModel)]="contact.number" matNativeControl />
        </mat-form-field>
        <br />
        <button class="create-button" (click)="addNewContact(contact)" mat-raised-button color="primary">Create</button>
       </div>
    </div>
  </mat-card>
  <a *ngIf="!savingContact" routerLink="/contacts">
    <button mat-fab class="back-button"><mat-icon class="back-button-icon">forward</mat-icon></button>
  </a>
</div>
<div *ngIf="savingContact">
  <h6 class="messages">Saving Contact...</h6>
  <mat-progress-bar class="app-progress" mode="indeterminate"
                     aria-label="Indeterminate progress-bar example"></mat-progress-bar>
</div>