<div *ngIf="isLoading">
  <h6 class="messages">{{ loadingContactMessage }}</h6>
  <mat-progress-bar class="app-progress" mode="indeterminate" 
    aria-label="Indeterminate progress-bar example"></mat-progress-bar>
</div>

<div *ngIf="!isLoading && contact !== null">
  <mat-card>
    <mat-card-title-group>
      <mat-icon>mood</mat-icon>
        <mat-card-title>
          <i [appFavoriteIcon]="contact.favorite" [color]="'gold'"
            [title]="contact.favorite ? 'Starred' : 'Not Starred'"
            (click)="saveContact(contact)"></i>
          <mat-form-field>
            <input mdInput placeholder="Name" [(ngModel)]="contact.name" matNativeControl />
          </mat-form-field>
        </mat-card-title>
        <mat-card-subtitle class="left-padding">
          <mat-form-field>
            <input mdInput placeholder="Email" [(ngModel)]="contact.email" matNativeControl />
          </mat-form-field>
        </mat-card-subtitle>
        <mat-card-subtitle class="left-padding">
          <mat-form-field>
            <input mdInput placeholder="Phone Number" [(ngModel)]="contact.number" matNativeControl />
          </mat-form-field>
        </mat-card-subtitle>
        <mat-card-subtitle class="left-padding">
          <mat-select placeholder="Country code" [(ngModel)]="contact.country">
            <mat-option *ngFor="let countryDialingCode of countryDialingCodes" [value]="countryDialingCode">
              {{ countryDialingCode }}
            </mat-option>
          </mat-select>
        </mat-card-subtitle>
    </mat-card-title-group>
    <div class="update-contact-button">
      <button (click)="updateContact(contact)" mat-raised-button color="primary">
        Update Contact
      </button>
    </div>
  </mat-card>
</div>

<div *ngIf="!isLoading && contact === null">
  <h6 class="messages">{{ noContactFoundMessage }}</h6>
</div>

<a *ngIf="!isLoading" routerLink="/contacts">
  <button mat-fab class="back-button"><mat-icon class="back-button-icon" title="Add new contact">forward</mat-icon></button>
</a>
